.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #e6f2e8;
}

.logo img {
    height: 100px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 70px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.btn {
    background: #1b5e20;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
}